@import "../modules/list/_list.styles.scss";

body {
    font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    background-color: #cbbb9b;
    font-size: 32px;
    overflow: hidden;
}
